@font-face {
    font-family: 'Domaine Display Extrabold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/domaine-display-extrabold.woff2) format('woff2');
  }
  
  @font-face {
    font-family: 'Domaine Display Medium';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/domaine-display-medium.woff2) format('woff2');
  }
  